body {
    background: #a3cbdc;
    font-family: Arial, Helvetica, sans-serif;
    display:flex; 
    justify-content:center;
    margin-top: 100px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 100%;
}

.page-left{
    width: 33%;
}
.page-right{
    width: 58%;
}

.page-content {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    border: 3px solid black;
    background: white;
}
.page-left-header {
    color: #565959;
    font-size: 12px;
    font-style: none;
}
.rating-img {
    width: 120px;
}